destine-godot-mvp/destine-game/data/labeled_building_roof.txt linguist-detectable=false
*labeled_city_view.txt filter=lfs diff=lfs merge=lfs -text
*labeled_building_roof.txt filter=lfs diff=lfs merge=lfs -text
